:host {
  display: block;
}


.list {
  display: grid;
  grid-gap: 20px;
}

.list-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-rows {
  grid-template-columns: 1fr 1fr;
}

app-animal-card {
  cursor: pointer;
}

