<div class="container my-4" *ngIf="!loading && category">
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{categoryInfo.categoryName}}</h2>
    <div class="filter">
      <form [formGroup]="filterFormGroup">
        <mat-form-field class="mr-3">
          <mat-label>Пол</mat-label>
          <mat-select formControlName="gender" multiple>
            <mat-option *ngFor="let gender of categoryInfo.genderList" [value]="gender">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mr-3">
          <mat-label>Размер</mat-label>
          <mat-select formControlName="size" multiple>
            <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Порода</mat-label>
          <mat-select formControlName="breed" multiple>
            <mat-option *ngFor="let breed of categoryInfo.breeds" [value]="breed">{{breed}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>


  <div class="d-flex justify-content-end">
    <mat-button-toggle-group value="column" #viewMethod="matButtonToggleGroup">
      <mat-button-toggle value="list" aria-label="Список">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="column" aria-label="Колонки">
        <mat-icon>view_column</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div
    class="list mt-3"
    [class.list-columns]="viewMethod.value === 'column'"
    [class.list-rows]="viewMethod.value === 'list'"
  >

    <app-animal-card
      *ngFor="let animal of filteredAnimals"
      [small]="viewMethod.value === 'column'"
      [params]="getAnimalParams(animal)"
    ></app-animal-card>


  </div>

</div>
<div class="mt-3" *ngIf="loading">
  <mat-spinner diameter="30" class="mx-auto"></mat-spinner>
</div>
<h4 *ngIf="!loading && !category" class="text-center my-5">Категория не найдена</h4>
