:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  display: block;
  border: none;
  border-radius: 3px;
  text-align: center;
  margin: 0 3px;
  padding: 10px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
