<div class="d-flex justify-content-between mx-3 mt-4 align-items-center">
  <h3>Текущие заявки</h3>
  <div>
    <mat-form-field class="mr-3">
      <mat-label>Заявитель</mat-label>
      <mat-select [formControl]="applicantsFormControl" multiple>
        <mat-option *ngFor="let contractor of applicantList" [value]="contractor">{{contractor}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group [formControl]="statusFormControl">
      <mat-button-toggle value="all">Все</mat-button-toggle>
      <mat-button-toggle value="#8080f6">В процессе</mat-button-toggle>
      <mat-button-toggle value="#259314">Выполненные</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-8 pr-3">
      <app-animal-action-card *ngFor="let app of filteredApplications" animalCategory="dogs" class="py-3" [iconColor]="app.status">
        <div class="row align-items-center">
          <div class="col-1"></div>
          <div class="col-3">
            <div class="font-weight-bold">Дата создания</div>
            <div class="mt-1">{{app.createDate | date:'dd.MM.yyyy'}}</div>
          </div>
          <div class="col-3">
            <div class="font-weight-bold">Заявитель</div>
            <div class="mt-1">{{app.applicant}}</div>
          </div>
          <div class="col-4">
            <div class="font-weight-bold">Адрес</div>
            <div class="mt-1 text-nowrap overflow-hidden" style="text-overflow: ellipsis">
              {{app.address}}
            </div>
          </div>
          <div class="col-1">
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item>Действие</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="removeApplication(app)">Удалить</button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="actionMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </app-animal-action-card>
      <p *ngIf="filteredApplications.length === 0" class="text-secondary text-center my-3">
        Заявок нет.
      </p>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-content>
          <div class="mt-1 custom-form-control d-flex justify-content-between">
            <label>
              Освоено за
              <select class="select">
                <option value="jan">Январь</option>
                <option value="fev">Февраль</option>
                <option value="mar">Март</option>
                <option value="apr">Апрель</option>
                <option value="may">Май</option>
                <option value="jun" selected>Июнь</option>
                <option value="jul">Июль</option>
                <option value="aug">Август</option>
                <option value="sen">Сентябрь</option>
                <option value="oct">Октябрь</option>
                <option value="nov">Ноябрь</option>
                <option value="dec">Декабрь</option>
              </select>
            </label>
            <span class="text-secondary">25260 &#8381;</span>
          </div>
          <div class="mt-1 custom-form-control d-flex justify-content-between">
            <label>
              <span class="text-success">Освоено</span> за
              <select class="select" [(ngModel)]="statisticYear">
                <option value="2020" selected>2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
            </label>
            <span class="text-secondary">231560 &#8381;</span>
          </div>
          <div class="mt-1 d-flex justify-content-between">
            <div><span class="text-danger">Неосноенных</span> средств за {{statisticYear}}</div>
            <span class="text-secondary">2560 &#8381;</span>
          </div>
          <div class="progress mt-3" style="height: 10px">
            <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="30"
                 aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="20"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
