<div class="d-flex justify-content-between mx-3 mt-4 mb-3 align-items-center">
  <h3>Животные приюта</h3>
  <div>
    <mat-form-field class="mr-3">
      <mat-label>Виды</mat-label>
      <mat-select [formControl]="categoryFormControl" multiple>
        <mat-option value="dogs">Собаки</mat-option>
        <mat-option value="cats">Кошки</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-8 pr-3">
      <app-animal-action-card *ngFor="let animal of filteredAnimals" [animalCategory]="animal.category" class="py-3">
        <div class="row align-items-center">
          <div class="col-1"></div>

          <div class="col-2">
            <div class="font-weight-bold">Маркер</div>
            <div class="mt-1 text-nowrap overflow-hidden">
              {{animal.mark}}
            </div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Кличка</div>
            <div class="mt-1 text-nowrap overflow-hidden">
              {{animal.name}}
            </div>
          </div>
          <div class="col-3">
            <div class="font-weight-bold">Виртульный хозяйн</div>
            <div class="mt-1 text-nowrap overflow-hidden">
              {{animal.virtualOwnerExists ? 'Есть' : 'Нет'}}
            </div>
          </div>
          <div class="col-3">
            <div class="font-weight-bold">Дата поступления</div>
            <div class="mt-1">{{animal.date | date:'dd.MM.yyyy'}}</div>
          </div>
          <div class="col-1">
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item routerLink="/shelter-animal-detail">Подробнее</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="removeAnimal(animal)">Удалить</button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="actionMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </app-animal-action-card>
      <p *ngIf="filteredAnimals.length === 0" class="text-secondary text-center my-3">
        Животных нет.
      </p>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-content>
          <div class="mt-1 custom-form-control d-flex justify-content-between">
            <p class="mb-2">Всего животных</p>
            <span class="text-secondary">{{animals.length}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
