<h3 class="text-center font-weight-normal">Авторизация</h3>
<p class="mat-small text-center line-height-normal">
  Введите номер телефона<br>
  и мы отправим на него код подтверждения
</p>
<form [formGroup]="signInForm" (ngSubmit)="nextStep()">
  <div class="overflow-hidden">
    <div class="d-flex align-items-center" style="transition: .5s"
         [style.transform]="'translateX(' + (-100 * stepNumber) + '%)'">
      <div class="flex-shrink-0 w-100">
        <mat-form-field class="w-100">
          <mat-label>Телефон</mat-label>
          <span matPrefix>+7&nbsp;</span>
          <input #phone
                 type="tel"
                 matInput
                 placeholder="(555) 555-12-34"
                 formControlName="phone"
                 [errorStateMatcher]="commonErrorStateMatcher"
                 [textMask]="{ mask: mask }"
          >
          <mat-error *ngIf="phone.value.length > 0">
            Телефон должен содержать 10 цифр
          </mat-error>
          <mat-error *ngIf="phone.value.length === 0">
            Введите телефон
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flex-shrink-0 w-100">
        <app-code-input [size]="codeSize" ></app-code-input>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" class="w-100 mt-1" type="submit">
    {{ stepNumber == 0 ? 'Запросить код' : 'Отправить код' }}
  </button>
  <button mat-stroked-button class="w-100 mt-1" *ngIf="stepNumber > 0" [disabled]="countToResendCode > 0">
    Запросить код повторно<span *ngIf="countToResendCode > 0"> ({{countToResendCode}} сек.)</span>
  </button>
</form>
<p class="text-center mat-small mt-3">или</p>
<div class="d-flex justify-content-around">
  <img *ngFor="let society of societies" class="flex-shrink-1" [src]="'/assets/icons/societies/' + society + '.png'"
       [alt]="society">
</div>
