:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 64px);
  background-image: url('/assets/main.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.subtitle {
  font-size: 18px;
  font-weight: normal;
  color: #000;
}

.description {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.buttons {
  margin-top: 86px;

  .button {
    width: 230px;
  }
}

.emblem {
  position: absolute;
  right: 100px;
  top: 35px;
}

.emblem__text {
  font-size: 10px;

  span {
    font-size: 16px;
  }
}

.soc-icons {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
}

.soc-icons img {
  width: 30px;
}

.soc-icons img:last-child {
  width: 15px;
  height: 30px;
}

.content {
  margin-left: 115px;
}



