<div class="content">
  <h6 class="mb-0 subtitle">Информационная система</h6>
  <h1 class="title mb-0">Животные без владельцев</h1>
  <p class="p-0 description">Любовь к себе начинается с любви к братьям нашим меньшим!</p>

  <div class="buttons">
    <button mat-raised-button color="primary" class="button mr-5" (click)="openSignInDialog()">Я - пользователь</button>
    <button mat-raised-button class="button" style="border: 2px solid #3f51b5;" routerLink="/animal-categories">Хочу питомца</button>
  </div>
</div>
