<mat-toolbar class="justify-content-between shadow bg-white">
  <div class="h-100">
    <h1 class="sr-only"></h1>
    <a routerLink="/" class="h-100 d-flex align-items-center">
      <img src="/assets/logo.png" alt="logo">
    </a>
  </div>
  <div class="h-100 actions">
    <button mat-button routerLink="/map">
      <mat-icon>map</mat-icon>
      Карта
    </button>
    <button mat-button routerLink="/animals">
      <mat-icon>pets</mat-icon>
      Животные
    </button>
    <button mat-icon-button *ngIf="isAuth" (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isAuth" (click)="openSignInDialog()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
