<mat-toolbar color="primary" class="justify-content-between shadow">
  <div class="h-100">
    <h1 class="sr-only">Hackathon</h1>
    <a routerLink="/" class="h-100 d-flex align-items-center">
      Hackathon 2020
    </a>
  </div>
<!--  <div class="h-100 actions" *ngIf="system.isAuth">-->
<!--    <button mat-button routerLink="/search">-->
<!--      <mat-icon>search</mat-icon>-->
<!--      Search-->
<!--    </button>-->
<!--    <button mat-button routerLink="/dashboard">-->
<!--      <mat-icon>devices</mat-icon>-->
<!--      Devices-->
<!--    </button>-->
<!--    <button mat-button routerLink="/reports" class="mr-2">-->
<!--      <mat-icon>date_range</mat-icon>-->
<!--      Reports-->
<!--    </button>-->
<!--    <button mat-icon-button (click)="signOut()">-->
<!--      <mat-icon>exit_to_app</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
</mat-toolbar>
