<mat-toolbar class="justify-content-between shadow bg-white">
  <div class="h-100">
    <h1 class="sr-only"></h1>
    <a routerLink="/" class="h-100 d-flex align-items-center">
      <img src="/assets/logo.png" alt="logo">
    </a>
  </div>
  <div class="h-100 actions">

    <ng-container *ngIf="auth.isEmployeeOfAdministration()">
      <button mat-button routerLink="/administration-tasks">
        <mat-icon>list</mat-icon>
        Задачи
      </button>
      <button mat-button routerLink="/administration-apps">
        <mat-icon matBadge="8" matBadgeColor="accent">speaker_notes</mat-icon>
        Заявки
      </button>
      <button mat-button routerLink="/contractors">
        <mat-icon>group</mat-icon>
        Исполнители
      </button>
      <button mat-button routerLink="/shelters">
        <mat-icon>home</mat-icon>
        Приюты
      </button>
    </ng-container>

    <ng-container *ngIf="auth.isContractor()">
      <button mat-button routerLink="/contractor-orders">
        <mat-icon>list</mat-icon>
        Заказы
      </button>
    </ng-container>

    <ng-container *ngIf="auth.isEmployeeOfShelter()">
      <button mat-button routerLink="/shelter-animals">
        <mat-icon>pets</mat-icon>
        Животные приюта
      </button>
    </ng-container>


    <button mat-button routerLink="/map">
      <mat-icon>map</mat-icon>
      Карта
    </button>
    <button mat-button routerLink="/animal-search">
      <mat-icon>pets</mat-icon>
      Животные
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Настройки</button>
      <button mat-menu-item>Помощь</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="signOut()">Выход</button>
    </mat-menu>

    <button mat-button *ngIf="auth.isAuth" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{auth.user.name}}
    </button>


    <!--    <button mat-icon-button *ngIf="auth.isAuth" (click)="signOut()">-->
    <!--      <mat-icon>exit_to_app</mat-icon>-->
    <!--    </button>-->
    <button mat-icon-button *ngIf="!auth.isAuth" (click)="openSignInDialog()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
