<div class="grid">
  <div class="grid-cell">
    <app-category-card routerLink="/animal-category/dogs" image="/assets/categories/dogs.png" name="Собаки"></app-category-card>
  </div>
  <div class="grid-cell">
    <app-category-card routerLink="/animal-category/puppies" image="/assets/categories/puppies.png" name="Щенки"></app-category-card>
  </div>
  <div class="grid-cell">
    <app-category-card routerLink="/animal-category/cats" image="/assets/categories/cats.png" name="Коты"></app-category-card>
  </div>
</div>
