@mixin set-grid($param, $start, $end) {
  grid-#{$param}-start: $start;
  grid-#{$param}-end: $end;
}

@mixin set-column($start, $end) {
  @include set-grid('column', $start, $end);
}

@mixin set-row($start, $end) {
  @include set-grid('row', $start, $end);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
}

.line-height-normal {
  line-height: 1.3;
}

.container {
  max-width: 1440px;
}
